{% extends 'base.html' %} 
{% load static %}
{% load humanize %}
{% block stylesheets %}
<style>
  .section {
   margin-bottom: 10%;
   border-radius: 20px;
  background-color: #fff;
  padding: 30px;
  /*border: red 1px solid;*/
}
.btn-home{
  color:#e1ad02;
  text-align: center;
  z-index: 1;
  font-family: 'Covered By Your Grace',cursive;

}
    a:hover {
  color:#e1ad02;
  text-decoration: none;
}

a {
  text-decoration: none;
}

  /* Estilos para los checkboxes redondos del control de capas */
  .leaflet-control-layers-overlays label {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #ffffff; /* Cambia el color de fondo si lo deseas */
    border: 2px solid #000000; /* Cambia el color del borde si lo deseas */
    cursor: pointer;
    margin-bottom: 5px;
  }

  .leaflet-control-layers-selector {
    display: none; /* Oculta el checkbox predeterminado */
  }

  .leaflet-control-layers-selector:checked + span:before {
    content: "\2714"; /* Símbolo de marca de verificación para el checkbox seleccionado */
    font-size: 15px;
    padding-right: 5px;
  }

  <style>
  .leaflet-control-layers-overlays label {
    display: none;
  }


@media (max-width: 767px) {
    
    }
    
        .logo-container {
          width: 50%; 
          height: 45%;
        }
        .content-logo{
          background-color: #000000; 
          margin-top: 10%; 
          margin-bottom: 5%; 
          border-radius: 20px;
          height: 70%;
        }

        .intro{
          color:#fff;
          font-size: 24px;
        }
        .cono{
          width: 50px;
          height: 50px;
        }
        .intro2{
          color:#fff;
          font-size: 14px;
        }

  @media screen and (max-width: 768px) {
      
            .logo-container {
              width: 50%; 
              height: 45%;
        }
        .content-logo{
          background-color: #000000; 
          margin-top: 10%; 
          margin-bottom: 10%; 
          border-radius: 20px;
          height: 100%;
        }
        .intro{
          color:#fff;
          font-size: 12px;
        }
        .cono{
          width: 30px;
          height: 30px;
        }
        .map{
        height: 600px;
       }
        }

        .cono2{
          width: 15px;
          height: 15px;
        }
        @media (min-width: 768px) {
       .map{
        height: 800px;
       }
    }
  
    /* Agregar estilos adicionales para las capas en el control */
    .custom-layer-icon {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
    .custom-layer-label {
      font-size: 14px;
    }
 

</style>
{% endblock%}

{% block content %}
<br>
      <br>
      <br>
<div class="container">
    <div class="row">
      <br>
      <br>
      <br>
      <div class="col-lg-12 text-center content-logo">
        <img class="logo-container" src="{% static "LogoWeb.png" %}" alt='aqui se construye'>
        {% for intros in intro %}
              <br>
              <p class="intro">{{ intros.title }}<br>{{ intros.intro }} </p>
              <br>
        {%endfor%}
      </div>
      
      <div id="map" class="map"></div>
      <div id="layerControl" class="leaflet-control-layers leaflet-control"></div>


      <script src="{% static 'leaflet/leaflet.js' %}"></script>
      <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}" />

      <script>
        var map = L.map('map').setView([0, 0], 2);
      
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
      
        // Definir los estilos para los iconos personalizados
        var iconDict = {
          1: '{% static "icon/carretera.png" %}',       // Icono para tipo de obra 1
          2: '{% static "icon/alcantarilla.png" %}',    // Icono para tipo de obra 2
          3: '{% static "icon/tuberia.png" %}',         // Icono para tipo de obra 3
          4: '{% static "icon/parque.png" %}',          // Icono para tipo de obra 4
          5: '{% static "icon/competidor.png" %}',      // Icono para tipo de obra 5
          6: '{% static "icon/agua.png" %}',            // Icono para tipo de obra 6
          7: '{% static "icon/edificio.png" %}',        // Icono para tipo de obra 7
          8: '{% static "icon/police.png" %}',
          9: '{% static "icon/hospital.png" %}',
          10: '{% static "icon/cultura.png" %}',
          11: '{% static "icon/escuela.png" %}',
          12: '{% static "icon/familia.png" %}',
          13: '{% static "icon/industria.png" %}',
          14: '{% static "icon/femenino.png" %}',
          15: '{% static "icon/masculino.png" %}',
          16: '{% static "icon/animales.png" %}',
          11: '{% static "icon/deporte.png" %}',
        };
      
        var semDict = {
          1: '{% static "icon/rojo.png" %}',       // Icono para tipo de obra 1
          2: '{% static "icon/amarillo.png" %}',    // Icono para tipo de obra 2
          3: '{% static "icon/verde.png" %}',         // Icono para tipo de obra 3
      
        };



        var layerGroups = {
        'Semáforo rojo': L.layerGroup(),
        'Semáforo amarillo': L.layerGroup(),
        'Semáforo verde': L.layerGroup(),
      };
        // Arreglo para almacenar las coordenadas de los marcadores
        var markerCoords = [];
        
          
      
        function createCustomIcon(iconUrl, shadowUrl) {
          var customIcon = L.icon({
            iconUrl: iconUrl,
            iconSize: [20, 20],
            iconAnchor: [20, 18],
            shadowUrl: shadowUrl, // Asignar la sombra personalizada al icono
            shadowSize: [50, 60], // Tamaño de la sombra
            shadowAnchor: [35, 30], // Anclaje de la sombra
    });

    return customIcon;
  }
 

        {% for work in works %}
          var iconUrl = iconDict[{{ work.type_work }}];
          var semUrl = semDict[{{ work.traffic_light }}]; // Asumiendo que tienes una propiedad llamada "traffic_light" en tu modelo Work que contiene el número para el semáforo

          var customIcon = createCustomIcon(iconUrl, semUrl);


          // Agrupar el marcador en la capa correspondiente según el semáforo
            // Obtener el valor del semáforo como clave para la capa en layerGroups
            var trafficLightKey = '{{ work.traffic_light_filter }}';
            var layerGroup = layerGroups[trafficLightKey];
            if (!layerGroup) {
              console.log("Creando nueva capa para el semáforo: " + trafficLightKey);
              layerGroup = L.layerGroup();
              layerGroups[trafficLightKey] = layerGroup;
            }



          
            var imageMonedas = "{% static 'icon/monedas.png' %}";
            var imageVerMas = "{% static 'vermas.png' %}";
            var imageTagMonedas = "<img src='" + imageMonedas + "' width='60px' height='50px'>";
            var imageTagPolitico = "<img src='https://i.ibb.co/fQNtDH5/poli.png' width='60px' height='50px'>";
            var imageTagConstructora = "<img src='https://i.ibb.co/7GMTzDR/construction-crane-hand-drawn-tool.png' width='60px' height='50px'>";
            var imageTagVerMas = "<img src='" + imageVerMas + "' width='60px' height='50px'>";
            var obraURL = "{{ work.slug }}";

            // Usar el código HTML dentro del bindPopup para agregar la imagen y los datos de la obra
            var marker = L.marker([{{ work.latitude }}, {{ work.longitude }}], { icon: customIcon }).addTo(map)
                .bindPopup("<div><center><b>{{ work.alias }}</b></center><br>"+imageTagMonedas+"${{ work.price|intcomma }}0<br>"+imageTagPolitico+"  Funcionarios: {{ work.official}}<br><br>"+imageTagConstructora+"Constructora: {{ work.constructor}}<br><br><a href='obra/" + obraURL + "'title='Ver más'>" + imageTagVerMas + "</a><div>");
                
            marker.addTo(layerGroup);
        {% endfor %}

        // Coordenadas y nivel de zoom personalizados
        var centerCoordinates = [25.542969619618308, -103.40690765484692];
        var zoomLevel = 13;

        // Establecer la vista del mapa con las coordenadas y nivel de zoom personalizados
        map.setView(centerCoordinates, zoomLevel);

        

        // Seleccionar todas las capas por defecto
        for (var key in layerGroups) {
          map.addLayer(layerGroups[key]);
        }

      

        var miControlLayers = L.control.layers(null, layerGroups, {
          collapsed: false,
          position: 'topright',
        });

        // Agregar el control al mapa
        miControlLayers.addTo(map);
         
        
        // // Personalizar la presentación de las capas en el control de capas mediante CSS
        // var controlContainer = document.querySelector('.leaflet-control-layers');
        // if (controlContainer) {
        //   var controlLabels = controlContainer.querySelectorAll('.leaflet-control-layers-list span');
        //   controlLabels.forEach(function(label) {
        //     // Verificar si el texto de la etiqueta contiene solo números (1, 2, 3, etc.)
        //     if (/^\d+$/.test(label.textContent.trim())) {
        //       // Ocultar la etiqueta de número
        //       label.style.display = 'none';
        //     }
        //   });
        // }





      </script>
      <div class="col-lg-12  content-logo " style="padding: 20px">
        {% for metodologics in metodologic %}
              <br>
              
              <p class="intro2"><img class="cono2" src="https://i.ibb.co/BcBDBjS/image.png" alt='aqui se construye'><span style="font-size: 1.5em;">Metodología</span></p>
              <p class="intro2"><span style="font-weight: 400;">Verde: la obra se termin&oacute; en el plazo establecido en el contrato.</span></p>
              <p class="intro2"><span style="font-weight: 400;">Amarillo: la obra se termin&oacute; despu&eacute;s del plazo establecido en el contrato.&nbsp;</span></p>
              <p class="intro2"><span style="font-weight: 400;">Rojo: la obra excedi&oacute; el plazo y no se ha terminado.</span></p>
              <p class="intro2"><br /><span style="font-weight: 400;">NOTA: para determinar la conclusi&oacute;n de una obra se toman en cuenta boletines de prensa de inauguraci&oacute;n o anuncios en redes sociales y se coteja con la observaci&oacute;n en campo por parte del equipo de </span><strong><em>Aqu&iacute; se construye</em></strong><span style="font-weight: 400;">. </span><img class="cono2" src="https://i.ibb.co/BcBDBjS/image.png" alt='aqui se construye'> </p>
                            <br>
                                    {%endfor%}
                                          </div>
                                                
                                                
                                                    
                                                        </div>
                                                           
      

    
    </div>
    {%if request.user.is_authenticated%}
    <a href="{%url 'obras'%}" class="btn btn-dark " style="color:#e1ad02;
    text-align: center;
    z-index: 1;
    font-family: Covered By Your Grace', cursive;">Toda la lista</a>
    {% endif %}

    <br>
      <br>
      <div class="section" >

        {% for item in investigation %}
              <br>
              <h2>{{ item.title }}</h2>
              <br>
              <p>{{ item.introduccion|safe }}</p>
              <br>
        {% endfor %}
      </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>

{% endblock %}
