{%extends 'base.html'%}
{% load i18n %}

{%block stylesheets%}
<style>
main {
	position: relative;
	max-width: 1280px;
	padding: 0 18px;
	box-sizing: border-box;
	display: flex;
	justify-content:center;	
}
section {
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	overflow: hidden;
}
article {
	font-family: 'Open Sans', sans-serif;
}
.title {
	font-family: 'Covered By Your Grace', cursive;
	text-align: center;
	letter-spacing: 10px;
    font-size:7rem;
    
}
.h2-divider {
	background-color: #252525;
	margin-bottom: 37px;
}
article h3 {
	font-weight: 800;
	margin: 0;
	line-height: 27px;
}
section p {
	font-family: 'Open Sans', sans-serif;
	color: #252525;
	line-height: 25px;
	margin-bottom: 40px;
	text-align: justify;
}
section .intro {
	font-weight: 300;
}
article p {
	margin-top: 0;
	margin-bottom: 50px;
}
article h3,
section p {
	font-size: 16px;
}
.placeHolder_img {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.placeHolder_img1 {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}


/*--------------------------

     Media Queries 

--------------------------*/
/*    Mobile    */

@media only screen and (min-width: 320px) {
    /* 320px */
    .title {
        font-size: 5rem;
        line-height: 44px;
        letter-spacing: 1px;
    }
	.h2-divider {
		width: 222px;
		height: 19px;
	}
	.placeHolder_img {
		height: 320px;
		margin: 0 0 50px 0;
	}

	.placeHolder_img1 {
		height: 600px;
		margin: 0 0 50px 0;
	}

}

@media only screen and (min-width: 375px) {
    /* 375 */
	
}

@media only screen and (min-width: 414px) {
    /* 414 */
	
}

@media only screen and (min-width: 568px) {
    /* 568 */
	
}

@media only screen and (min-width: 667px) {
    /* 667px */
	article p {
		column-count: 2;
		column-gap: 42px;
	}
	
}

@media only screen and (min-width: 736px) {
    /* 736px */
	
}

/*Tablet*/

@media only screen and (min-width: 768px) {
    /* 768 */
	main {
		padding: 0 40px;
	}
	.title {
		font-family: 'Covered By Your Grace', cursive;
	text-align: center;
	letter-spacing: 10px;
    line-height: 113px;
    font-size:7rem;
	}
	.h1-divider {
		width: 339px;
		height: 24px;
		margin-bottom: 53px;
	}
	article p {
		margin-bottom: 40px;
	}
	.placeHolder_img {
		height: 344px;
		margin: 0 0 40px 0;
	}
	.placeHolder_img1 {
		height: 600px;
	}

}

/*    Desktop    */

@media only screen and (min-width: 1024px) {
    /* 1024 */
	section {
		width: 820px;
	}
	h1 {
		font-size: 66.4px;
		line-height: 0.95;
		letter-spacing: 1.4px;
		margin-bottom: 30px;
	}
	.h1-divider {
		width: 486px;
		margin-bottom: 38px;
	}
	.placeHolder_img {
		height: 442px;
	}
	.placeHolder_img1 {
		height: 600px;
	}
	
}

@media only screen and (min-width: 1140px) {
    /* 1140 */
	section {
		width: 1035px;
	}
	h2 {
		font-size: 72px;
		line-height: 0.98;
	}
	.h2-divider {
		width: 480px;
		margin-bottom: 45px;
	}
	.placeHolder_img {
		height: 432px;
	}
	.placeHolder_img1 {
		height: 600px;
	}
	
}

@media only screen and (min-width: 1440px) {
    /* 1440 */
}

@media only screen and (min-width: 1662px) {
    /* 1662px */
}
</style>
{%endblock stylesheets%}


{%block content%}
<div class="container" style="margin-top:10%; background-color: #fff; padding:7%">
    <br>
    <br>
	<div class="row">
		<h2 class="title"> Nosotros Somos</h2>
		<div class="h2-divider" style="width: 60%; margin-left: 20%;"></div>
		

		<div>
		
			{% for item in team %}
                <p>{{ item.who_we_are|safe }}</p>
            {% endfor %}

			
                {% for item in team %}
				<div class="row">
			
				{% if item.image3 %}
                    <div class="placeHolder_img" style=" background-image: url('{{item.image3.url}}');"></div>
                {% else %}
                    <div class="placeHolder_img" style="background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/614007/img_placeholder_1034x432.png');"></div>
                {% endif %}
				</div>
              {% endfor %}
                

	
			</div>
		</div>
</div>

{%endblock%}