<style>


.card
{
  background-color: #fafafa;
  margin-bottom: 12px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-left: 10%;
  margin-top: 5%;
  
}

.card p{
  text-align: justify;
  color: #606060;
  font-weight: light;
  text-align: justify;
  font-family: 'Covered By Your Grace', cursive;
}

/* CARDS CONTENT SECTION */
#containText
{
  position: absolute;
  width: 76%;
  left: 250px;
  top: 30px;
  
}

#containText h3{
    font-size: 40px;
}

#containText p
{
  position: absolute;
  top: 50px;
  font-size: 25px;
  color: #202020;
}

.face
{
  position: relative;
  height: 200px;
  width: 200px;
  top: 10px;
  left: 10px;
}

.card-image{
    height: 220px;
    width: 300px;
}


.extra
{
  position: relative;
  width: 90%;
  top: -80px;
  margin: auto;
  color: #606060;
  font-weight: light;
  text-align: justify;
  left: 200px;

}

.arow{
    position: relative;
    width: 10% ;
    top: -20%;
    left: 70%;
}
a{
  color: black!important;
}

@media (max-width: 425px){
  .card-image{
    height: 200px;
    width: 250px;
}
    }

</style>



<a href='{% url 'obra:obra' slug=obras.slug %}'>
  <div class="card" style='background-color:#fbfbfb;box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);margin-bottom:15px;'>
      <div style="width:100%">
          <img  class="card-image" src='{{obras.image.url}}' class="rounded">
      </div>
      
      <div style="height:200px; padding:0px 10px;" class="text-center ">
          <br>
          <b>{{obras.name}}</b>
          <p>{{obras.address}}</p>
          <p>Número de obra {{obras.no_work}}</p>
          <p>Número de contrato {{obras.no_contract}}</p>
      </div>
  </div>
</a>
