{% load static %}

{%block extrahead%}
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
{%endblock %}

<style>


.gallery {
  max-width: 800px;
  height: 530px;
  position: relative;
  margin: auto;
}

.gallery-image{
  width: 100%;
  height:500px;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  background-color: rgba(0,0,0,0.4);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position "next button" rechts */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.2);
}


.dot {
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin: 0 2px;
  background-color: rgb(40, 40, 40);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: lightgrey;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/* fade für Bilder */
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
  </style>

{% block content %}

<div class="gallery">
  
    {% if obra.image%}
      <div class="slides">
        <img class="gallery-image" src='{{obra.image.url}}'>
      </div>
      {%else%}
      <div class="slides">
        <img  class="card-image" src='https://i.ibb.co/6PHyf5B/FOTO-NO-DISPONIBLE.jpg' class="rounded">
      </div>
    {%endif%}
    
    {% if obra.image1%}
      <div class="slides">
        <img  class="gallery-image" src='{{obra.image1.url}}'>
      </div>
    {%endif%} 
    {% if obra.image2%}
      <div class="slides">
        <img  class="gallery-image" src='{{obra.image2.url}}' >
      </div>
    {%endif%}
    {% if obra.image3%}
      <div class="slides">
        <img  class="gallery-image" src='{{obra.image3.url}}'>
      </div>
    {%endif%} 
    {% if obra.image4%}
      <div class="slides">
        <img  class="gallery-image" src='{{obra.image4.url}}'>
      </div>
    {%endif%}
    {% if obra.image5%}
      <div class="slides">
        <img  class="gallery-image" src='{{obra.image5.url}}'>
      </div>
    {%endif%}  
    {% if obra.image6%}
      <div class="slides">
        <img class="gallery-image" src='{{obra.image6.url}}' >
      </div>
    {%endif%} 

    {% if obra.image6%}
      <div class="slides">
        <img class="gallery-image" src='{{obra.image6.url}}'>
      </div>
    {%endif%}
    {% if obra.image7%}
      <div class="slides">
        <img  class="gallery-image" src='{{obra.image7.url}}'>
      </div>
    {%endif%}
    {% if obra.image8%}
      <div class="slides">
        <img  class="gallery-image" src='{{obra.image8.url}}' >
      </div>
    {%endif%}
    {% if obra.image9%}
      <div class="slides">
        <img  class="gallery-image" src='{{obra.image9.url}}'>
      </div>
    {%endif%}
    {% if obra.image10%}
      <div class="slides">
        <img src='{{obra.image10.url}}'>
      </div>
    {%endif%}
    {% if obra.image11%}
      <div class="slides">
        <img  class="gallery-image" src='{{obra.image11.url}}'>
      </div>
    {%endif%}
    {% if obra.image12%}
      <div class="slides">
        <img  class="gallery-image" src='{{obra.image12.url}}'>
      </div>
    {%endif%}
    {% if obra.image13%}
      <div class="slides">
        <img  class="gallery-image" src='{{obra.image13.url}}'>
      </div>
    {%endif%}
    {% if obra.image14%}
      <div class="slides">
        <img class="gallery-image" src='{{obra.image14.url}}' >
      </div>
    {%endif%}
    {% if obra.image15%}
      <div class="slides">
        <img  class="gallery-image" src='{{obra.image15.url}}' >
      </div>
    {%endif%}
    {% if obra.image16%}
      <div class="slides">
        <img  class="gallery-image" src='{{obra.image16.url}}'>
      </div>
    {%endif%}
    {% if obra.image17%}
      <div class="slides">
        <img  class="gallery-image" src='{{obra.image17.url}}'>
      </div>
    {%endif%}
    {% if obra.image18%}
      <div class="slides">
        <img  class="gallery-image" src='{{obra.image18.url}}'>
      </div>
    {%endif%}
    {% if obra.image19%}
      <div class="slides">
        <img  class="gallery-image" src='{{obra.image19.url}}'>
      </div>
    {%endif%}
    {% if obra.image20%}
      <div class="slides">
        <img  class="gallery-image" src='{{obra.image20.url}}'>
      </div>
    {%endif%}
    {% if obra.credits_image%}
      <p style="color: #ffffff; background-color: #000 ;font-size:15px">{{obra.credits_image}} <a href="{{obra.link }}" style="color: #e1ad02;">{{obra.link_image}}</a></p>
     {%endif%}


  
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

  

{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>
<script>
var slideIndex = 1;
showSlides(slideIndex); //Funktionsaufruf

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}



function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("slides"); //holt Elemente von HTML
  var dots = document.getElementsByClassName("dot");
  
  //Wechsel von Slide 3 zu Slide 1
  if (n > slides.length) {
    slideIndex = 1;
  }
  
  //Wechsel von Slide 1 auf Slide 3
  if (n < 1) {
    slideIndex = slides.length;
  }
  
  
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  
  
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
} 
</script>
{%endblock %}

