{%extends 'base.html'%}
{% load static %}
{%block title%} <p>'Obra'</p> {%endblock%}

{%block extrahead%}
    <meta name="description" content=''/>
    <meta name='keywords' content=''/>
    <meta property="og:url"                content=" " />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="observatorio de regidurías" />
    <meta charset="utf-8">
{%endblock%}

{%block content%}
<style>
</style>

<div class="container" style="background-color: #fff;">
  <br>
  <br>
  <br>
  {% include 'galery.html'%}
  <br>
  <br>
  <br>
  
</div>


{%endblock%}

{% block scripts %}

{% endblock %}