{%extends 'base.html'%}
{% load static %}
{% load humanize %}
{%block title%} <p>'Obra'</p> {%endblock%}

{%block extrahead%}
    <meta name="description" content=''/>
    <meta name='keywords' content=''/>
    <meta property="og:url"                content=" " />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="observatorio de regidurías" />
    <meta charset="utf-8">

  

{%endblock %}


{%block content%}
<style>

.recuadros{
    margin-top: 2%; 
    margin-bottom: 2%;
}
.bg-red {
    background-color: red;
}

.bg-yellow {
    background-color: yellow;
}

.bg-green {
    background-color: green;
}

.bg-gray {
    background-color: gray;
}

@media (max-width: 425px){
    .recuadros{
    margin-top: 5%; 
    margin-bottom: 5%;
}
}

</style>
<div class="container"style="background-color: #fff; border-radius: 20px; margin-top: 5%; margin-bottom: 5%;" >
    <div class="row text-center">
        <div class="recuadros">
        </div>
        <br>
        <br>
    
        <h2>{{obra.name}}</h2>
        <br>
        <br>
        <div class="recuadros">
        </div>
    </div>
</div>

{% if request.user.is_authenticated %}
<div class="container">
  
  {% include 'galery.html'%}


</div>
<div class="container" style="background-color: #fff; border-radius: 20px; margin-top: 5%; margin-bottom: 5%;">
  <br>
  <br>
  <br>
  <div class="container">
    
    
    <!-- Código HTML para mostrar detalles de cada obra -->

    {% if is_following %}
        <a class="btn btn-dark" style="font-family: Covered By Your Grace; font-size: 2rem;" href="{% url 'unfollow' id=obra.id %}" title="Haz click para dejar de seguir los avances de la obra">Dejar de seguir</a>
    {% else %}
        <a class="btn btn-dark" style="font-family: Covered By Your Grace; font-size: 2rem;" href="{% url 'follow' id=obra.id %}" title="Haz click para seguir los avances de la obra">Seguir</a>
    {% endif %}




    <div class="row text-center">
        <h2>Número de obra: {{obra.no_work}}</h2>
        <br>
        <br>
        <h2>Número de contrato de la obra: {{obra.no_contract}}</h2>
        <br>
        <br>
        <br>
        <br>
        
        <div>
            <h3>Días transcurridos: {{ dias_pasados }}</h3>
            <br>
            <br>
            {% if obra.conclution %}
            <h3>La obra se terminó</h3>
                {% if obra.term %}
                {% if dias_atraso > 0 %}
                    <h3>Con {{ dias_atraso }} días de atraso</h3>
                {% else %}
                    <h3>Sin atraso</h3>
                {% endif %}
            {% endif %}
            {% endif %}
               
        </div>  
    </div>

        <br>
        <br>
        <br>
    <div class="row text-center" style="height: 100px;">
      
        
        <div class="col">
           
               
                {% if obra.term %}
                <!-- Mostrar la gráfica normal con el plazo -->
                <h3></h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-{{ color }}" role="progressbar" aria-valuenow="{{ dias_restantes }}" aria-valuemin="0" aria-valuemax="{{ duration }}" style="width: {{ porcentaje_completado }}%">
                        {{ dias_restantes }} días restantes de {{ duration }}
                    </div>
                </div>
            {% else %}
                <!-- Mostrar la gráfica alternativa con los días transcurridos -->
                <h3>Días Transcurridos</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-{{ color }}" role="progressbar" aria-valuenow="{{ dias_pasados }}" aria-valuemin="0" aria-valuemax="{{ duration }}" style="width: {{ porcentaje_completado }}%">
                        {{ dias_pasados }} días de {{ duration }}
                    </div>
                </div>
            {% endif %}
                    
                
            
        </div>
        
      
    
    
    </div>
</div>
</div>

<div class="container" style="background-color: #fff; border-radius: 20px;">
            <div class="row text-center">
                <div class="recuadros">
                </div>
                       
                        
                        <div class="col-6">
                            <img src='https://i.ibb.co/KxpjKxk/kids-calendar.png' alt="logo" width=120 height=100 >
                        </div>
                        <div class="col-6" style="text-align:initial">
                            <h4>Firma de contrato</h4>
                            <h6>{{ obra.signing_of_contract|date:"d-m-Y" }}</h6>
                        </div>
                        
                
            </div>
                <br>
                <br>
                <br>
        <div class="row text-center">
    
            
            <div class="col-6">
             
            </div>
            <div class="col-6" style="text-align:initial">
                <h4>Inicio de la obra</h4>
                <h6>{{ obra.start_of_work|date:"d-m-Y" }}</h6>
            </div>
            
        </div>



            <div class="row text-center">
                <div class="recuadros">
                </div>
                
                <div class="col-6" >
                   
                </div>
                <div class="col-6" style="text-align:initial">
                    {% if obra.term%}
                    <h4>Plazo para complentar la obra</h4>
                    <h6>{{obra.term|date:"d-m-Y"}}</h6>
                    {%else%}
                    <h6>No hay plazo para terminar la obra</h6>
                    {%endif%}
                </div>

                    
                    
                
            </div>



            <div class="row text-center">
                <div class="recuadros">
                </div>
                      
                        
                        <div class="col-6">
                           
                        </div>
                        <div class="col-6" style="text-align:initial">
                            {% if obra.conclution%}
                                <h4>La obra se termino</h4>
                                
                                <h6>{{ obra.conclution|date:"d-m-Y" }}</h6>
                            {%else%}
                                <h6>No se a terminado</h6>
                            {%endif%}
                        </div>
                        
                
            </div>
        </div>
        <div class="recuadros">
        </div>
        <br>
</div>
</div>

        <br>
        <br>


<div class="container" style="background-color: #fff; border-radius: 20px;">
    
    <div class="row text-center">
        
        <div class="recuadros">
        </div>
        <h2>Costo total de la obra</h2>
            <div class="col"></div>
            <div class="col">
                <img src='https://i.ibb.co/zsTPVdL/monedas.png' alt="logo" width=120 height=100 >
            </div>
            <div class="col">
                {% if obra.price %}
                    <h3>Precio: {{ obra.price|intcomma }}</h3>
                {% else %}
                    <h3>Precio: Sin información</h3>
                {% endif %}

            </div>
            <div class="col"></div>
        <div  class="recuadros">
        </div>
    </div>
    
</div>
        <br>
        <br>
<div class="container" style="background-color: #fff; border-radius: 20px;">
    <div class="row text-center">
        <div class="recuadros">
        </div>
        <div class="col"></div>
        <div class="col">
            <img src="https://i.ibb.co/fQNtDH5/poli.png" alt="logo" width=120 height=100 >
        </div>
        <div class="col">
            <h3>Funcionario (s)</h3>
            {% if obra.official%}
                <h5>{{obra.official}}</h5>
            {%endif%}
            <br>
            <h3>Dependencia</h3>
            {% if obra.dependence%}
                <h5>{{obra.dependence}}</h5>
            {%endif%}
        </div>
        <div class="col"></div>
        <div  class="recuadros">
        </div>
    </div>
</div>
</div>
    <br>
    <br>
<div class="container" style="background-color: #fff; border-radius: 20px;">
    <div class="row text-center">
        <div  class="recuadros">
        </div>
        <div class="col"></div>
        <div class="col">
            <img src="https://i.ibb.co/7GMTzDR/construction-crane-hand-drawn-tool.png" alt="logo" width=120 height=100 >
        </div>
        <div class="col">
            <h3>Constructora (s)</h3>
            {% if obra.constructor%}
                <h5>{{obra.constructor}}</h5>
            {%endif%}
            {% if obra.constructor1%}
                <h5>{{obra.constructor1}}</h5>
            {%endif%}
            {% if obra.constructor2%}
                <h5>{{obra.constructor2}}</h5>
            {%endif%}
            {% if obra.constructor3%}
                <h5>{{obra.constructor3}}</h5>
            {%endif%}
            {% if obra.constructor4%}
                <h5>{{obra.constructor4}}</h5>
            {%endif%}
        </div>
        <div class="col"></div>
        <div class="recuadros">
        </div>
    </div>
</div>
</div>
  <br>
  <br>

  <div class="container" style="background-color: #fff; border-radius: 20px; ">
  <div class="row text-center" >
    <div  class="recuadros">
    </div>
    <div class="col"></div>
    <div class="col">
        <img src="https://i.ibb.co/ByTj5HQ/business-partnership.png" alt="logo" width=120 height=100 >
    </div>
    <div class="col">
        <h3>Contratos</h3>
        {% if obra.contracts %}
        <a style="background-color: #e1ad02; color:#000000; text-align: center;
        z-index: 1;
        font-size: 40px;
        font-family: 'Covered By Your Grace', cursive; border-radius: 5px;"
        href="{% url 'download_files' obra.slug %}?{% for field in download_fields %}fields={{ field }}{% if not forloop.last %}&{% endif %}{% endfor %}">
            Descargar archivos
        </a>
        {%else%}
        <p style="background-color: #e1ad02; color:#000000; text-align: center;
        z-index: 1;
        font-size: 40px;
        font-family: 'Covered By Your Grace', cursive;">
          No hay archivos para descargar
        </p>

        {% endif %}
    

       
        
    </div>
    <div class="col"></div>
</div>
<br>
<br>

<div class="row text-center">
    <div class="col"> 
        {% if obra.link %}
            <a href="{{ my_object.link }}" style="background-color: #e1ad02; color:#000000; text-align: center;
            z-index: 1;
            font-size: 40px;
            font-family: 'Covered By Your Grace', cursive;
            src: url('{{STATIC_URL}}font/if.ttf') format('truetype');">Ver enlace</a>
        {% endif %}
    </div>
    <div class="col">
        {% if obra.link2 %}
            <a href="{{ my_object.link2 }}" style="background-color: #e1ad02; color:#000000; text-align: center;
            z-index: 1;
            font-size: 40px;
            font-family: 'Covered By Your Grace', cursive;
            src: url('{{STATIC_URL}}font/if.ttf') format('truetype');">Ver enlace</a>
        {% endif %}
        
    </div>
    <div class="col">
        {% if obra.link3 %}
            <a href="{{ my_object.link3 }}" style="background-color: #e1ad02; color:#000000; text-align: center;
            z-index: 1;
            font-size: 40px;
            font-family: 'Covered By Your Grace', cursive;
            src: url('{{STATIC_URL}}font/if.ttf') format('truetype');">Ver enlace</a>
        {% endif %}
        

       
        
    </div>
    <div class="col">
        {% if obra.link4 %}
            <a href="{{ my_object.link4 }}" style="background-color: #e1ad02; color:#000000; text-align: center;
            z-index: 1;
            font-size: 40px;
            font-family: 'Covered By Your Grace', cursive;
            src: url('{{STATIC_URL}}font/if.ttf') format('truetype');">Ver enlace</a>
        {% endif %}
    </div>
    <div class="col">
        {% if obra.link5 %}
            <a href="{{ my_object.link5 }}" style="background-color: #e1ad02; color:#000000; text-align: center;
            z-index: 1;
            font-size: 40px;
            font-family:'Covered By Your Grace', cursive;
            src: url('{{STATIC_URL}}font/if.ttf') format('truetype');">Ver enlace</a>
        {% endif %}
    </div>
</div>
<br>
<br>
<br>
</div>



  <br>
  <br>
  <br>
<div class="container text-center" style="background-color: #fff; border-radius: 20px ;">
    <br>
  <br>
  <br>


  {% if obra.newsletter.url%}
  <object data="{{ obra.newsletter.url }}" type="application/pdf" width="80%" height="90%">
    <p>Este navegador no soporta la visualización de archivos PDF. Puedes descargar el archivo haciendo click <a href="{{ obra.newsletter.url }}">aquí</a>.</p>
  </object>
  {%else%}
  <h4></h4>
  {%endif%}

   
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <h3>Queremos saber tu opinión.
        <br>
        <br>
        
        En el botón de abajo puedes ayudarnos con la encuesta.</h3>

    <a href="{% url 'encuesta' obra_id=obra.id %} " style="background-color: #e1ad02; color:#000000; text-align: center;
    z-index: 1;
    font-size: 40px;
    font-family: 'Covered By Your Grace', cursive; border-radius: 5px;">
    Crear Encuesta</a>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
{%else%}

<div class="container text-center" style="background-color: #fff;">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2>{{obra.name}}</h2>
    <p>Hola, si quieres saber más de esta obra en construcción tienes que registrarte con nosotros.</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<br>
  <br>
  <br>

{% endif %}

{%endblock%}

{% block scripts %}
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script>
    var graph = {{ graph|safe }};
    Plotly.newPlot('plotly-graph', JSON.parse(graph));
</script>

{% endblock %}