{% extends 'base.html' %} 

{% block content %}

<form class="form" method="post">
	{% csrf_token %}
	<div class="container">
			<div class="row">
					<div class="form-group text-center">
							<div class="form-control" style="background-color:#fff0; border:0 solid #fff0; font-family:if; font-size:2rem; margin-top: 10%; height:53vh;">
									{{ form.as_p }}
									
									
									<button type="submit" id="submit" style="background-color:#fff0; border:1 solid #fff0; font-family:if; font-size:2rem;">Enviar</button>

							</div>
					</div>
			</div>	
	</div>

</form>

{% endblock %}