{%extends 'base.html'%}
{% load i18n %}

{%block extrastyle%}
{%endblock%}


{%block content%}
<style>
  .graficas{
    width: 100%;
    background-color:#fff;

  }
</style>

<div class="container">
  <div class="row">
     
      
          <div class="col-md-12">
            
                  <div class="text-center graficas">
                  

                    {{ encuesta|safe }}
                     
                  </div>

                  <div class="text-center graficas">
                  

                    {{ orden|safe }}
                     
                  </div>

                  <div class="text-center graficas">
                  

                    {{ constructoras|safe }}
                     
                  </div>

                  
              </div>
          </div>
      </div>
  
<br>
                  

{%endblock%}