{%extends 'base.html'%}
{% load i18n %}

{%block extrastyle%}
{%endblock%}


{%block content%}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container text-center" style="background-color:#fdfdfd">
  <br>
  <br>
  <br>
  <br>
      <form method="post">
        <h3>Nos gustaría saber cómo esta obra impacta en tu vida diaria.<br> Tu opinión es importante para nosotros, ¡por favor, toma unos minutos para responder la encuesta y comparte tus experiencias con nosotros!</h3>
        <br>
        <br>
        <br>
        {% csrf_token %}
          <div class="form-group">
            {{ form.survey }}
          </div>
          <br>
          <br>
          <br>
          <br>
          <p>¿Cuéntanos por qué?</p>
          <div class="form-group">
            {{ form.other }}
          </div>
          <br>
          <br>
          <br>
        
          <button type="submit"  class="btn btn-dark">Enviar</button>
        
      </form>

      <br>
      <br>
      <br>
      <br>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{%endblock%}